.review-card{
    backdrop-filter: blur(22px) saturate(100%);
    -webkit-backdrop-filter: blur(22px) saturate(100%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    border: 1px solid rgba(209, 213, 219, 0.3); 

    width: 30%;

    color: white;

    padding: 3rem;

    .review-profile{
        display: flex;
        gap: 3rem;
        align-items: center;

        .profile-image{
            width: 70px;
            height: 70px;
            display: block;
        }

        .profile-text{
            .profile-name{
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }

    .review-text{
        margin-top: 3rem;
        font-size: 1.6rem;
        font-weight: 200;
    }
}

@media screen and (max-width: 1000px) {
    .review-card{
        width: 45%;
    }
}

@media screen and (max-width: 800px) {
    .review-card{
        width: 75%;
    }
}